In [1]:
#1. Create variable age equal to 32 and check its type.

age = 32
type(age)

int

In [2]:
#2. Create variable height equal to 1.85 and check its type.

height = 1.85
type(height)

float

In [3]:
#3. Create variables name and surname. Define them as 'your_name' and 'your_surname'.

name = "Laman"
surname = 'Aliyeva'

In [4]:
#4. Sum up name and surname variables. Define as ID.

id = name + surname
id

'LamanAliyeva'

In [5]:
#5. Use indexing. Find last letter of 'your_name'.

last_letter = name[-1]
last_letter

'n'

In [6]:
# 6. Use slicing. Find 2nd and 3rd letters of 'your_surname'.

letters = surname[1:3]
letters

'li'

In [7]:
#7. Create list as new_list. Include 3 4 5 6 7 integers.

new_list = [*range(3, 8)]
new_list

[3, 4, 5, 6, 7]

In [8]:
#8. Remove 5 from new_list.

new_list.remove(5)
new_list

[3, 4, 6, 7]

In [9]:
#9. Delete 2nd value of new_list.

new_list.pop(1)
new_list

[3, 6, 7]

In [10]:
#10. Create tuple as new_tuple. Include 3 4 5 6 7 integers.

new_tuple = (3, 4, 5, 6, 7)
new_tuple

(3, 4, 5, 6, 7)

In [11]:
#11. Change 4 in new_tuple to 8.

mylist = list(new_tuple)
index = mylist.index(4)
mylist[index] = 8
new_tuple = tuple(mylist)
type(new_tuple)

tuple

In [12]:
# Difficult exercises

# 1. Find the difference between age and 25, 
# if the number is greater than 17 return the square of the difference.

def find_difference(age):
    diff = age - 25
    if diff > 17:
        return diff ** 2
    else:
        return 'Number is less than 17'

find_difference(age)

'Number is less than 17'

In [13]:
# 2. Write a Python function to check number is positive, negative or zero.

def check_num():
    num = int(input("Enter a number: "))
    if num > 0:
        return 'Number is positive'
    elif num < 0:
        return 'Number is negative'
    else:
        return 'Number equal to 0'
    
check_num()