1.Print First 10 natural numbers using while loop.

In [90]:
i = 1

while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

2.Display -10 to -1 using for loop.

In [91]:
for i in range(-10, 0, 1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

3.Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [92]:
for i in range(0, 7, 1):
    if i == 3 or i == 6:
        pass
    else:
        print(i)

0
1
2
4
5

4.Calculate the sum of all number between 1 and 111.

In [93]:
res = 0

for i in range(1, 112, 1):
    res+=i

print(res)

6216

5.Reverse the following list using for loop: list1 = [10, 20, 30, 40, 50]

In [94]:
list1 = [10, 20, 30, 40, 50]
reversed_list = []

for i in range(len(list1) - 1, -1, -1):
    reversed_list.append(list1[i])

print(list1)
print(reversed_list)

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

6.Write a Python program to find those numbers which are divisible by 7 and 5, between
1500 and 2700 (both included).

In [95]:
for i in range(1500, 2701):
    if i % 7 == 0 and i % 5 == 0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

7.Display a message “Done” after successful execution of for loop.

In [96]:
for i in range(5):
    print(i)
print("Done")

0
1
2
3
4
Done

8.Write a Python program to create a lambda function that adds 15 to a given number passed in
as an argument, also create a lambda function that multiplies argument x with argument y and
print the result.

In [97]:
result = lambda x: x + 15
print(result(5))

result2 = lambda x,y: x*y
result2(8,2)

20

16

9.Write a Python program to square and cube every number in a given list of integers using
Lambda.

In [98]:
list_of_integers = [2, 3, 4]
square = list(map(lambda x: x*x, list_of_integers))
cube = list(map(lambda x: x**x, list_of_integers))

print(square)
print(cube)

[4, 9, 16]
[4, 27, 256]

10.Write a lambda function that returns takes x as parameter and returns x+2. Then assign it to a variable named L.

In [99]:
L = lambda x: x + 2

L(16)

18

11.Write a function which takes two arguments: a and b and returns the multiplication of them:
a*b. Assign it to a variable named f.

In [100]:
def multiplication(a, b):
    return a*b

f = multiplication(2, 4)
f

8

12.Write a Python program to add two given lists using map and lambda.

In [101]:
list1 = [1, 2, 3]
list2 = [5, 6, 7]

list(map(lambda x,y: x+y, list1, list2))

[6, 8, 10]

13.Write a map function that adds plus 5 to each item in the list.

In [102]:
print(list1)
list(map(lambda x: x+5, list1))

[1, 2, 3]

[6, 7, 8]

14.Write a map function that adds "Hello, " in front of each item in the list.

In [103]:
print(list1)
list(map(lambda x: 'Hello, ' + str(x), list1))

[1, 2, 3]

['Hello, 1', 'Hello, 2', 'Hello, 3']

15. Using map() function and len() function create a list that's consisted of lengths of each
element in the first list.

In [104]:
strings = ["Laman", "Aliyeva", "Iriska", "Poolia"]

lengths = list(map(len, strings))

print(strings)
print(lengths)

['Laman', 'Aliyeva', 'Iriska', 'Poolia']
[5, 7, 6, 6]

16. Using map() function and lambda add each elements of two lists together. Use a lambda
with two arguments.

In [105]:
print(list1)
print(list2)

list(map(lambda x, y: x+y, list1, list2))

[1, 2, 3]
[5, 6, 7]

[6, 8, 10]

17. Using map() , lambda and count() functions create a list consisted of the number of
occurrence of letter: a.

In [106]:
occurrences_of_a = list(map(lambda x: x.count('a'), strings))

print(strings)
print(occurrences_of_a)

['Laman', 'Aliyeva', 'Iriska', 'Poolia']
[2, 1, 1, 1]

18. Using map(), lambda and count() functions create a list consisted of the number of
occurrence of both letters: A and a.

In [107]:
occurrences_of_a = list(map(lambda x: x.lower().count('a'), strings))

print(strings)
print(occurrences_of_a)

['Laman', 'Aliyeva', 'Iriska', 'Poolia']
[2, 2, 1, 1]

19. Using filter() function filter the list so that only negative numbers are left.

In [108]:
some_list = [-3, 2, 3, -2, 0, 1]
negative_nums = list(filter(lambda x: x < 0, some_list))

negative_nums

[-3, -2]

20. Using filter function, filter the even numbers so that only odd numbers are passed to the
new list.

In [109]:
nums = [1, 2, 3, 4, 5, 6, 7, 8]
odd_nums = list(filter(lambda x: x%2!=0, nums))

odd_nums

[1, 3, 5, 7]

21. Using filter() and list() functions and .lower() method filter all the vowels in a givenstring.

In [110]:
mystring = 'Laman'
vowels = list(filter(lambda x: x.lower() in 'aeiou', mystring))
print(mystring)
print(vowels)

Laman
['a', 'a']

22.This time using filter() and list() functions filter all the positive integers in the string.

In [111]:
mystring = 'Hello 22 World 16 -2 8 -1 10 -8'
positive_integers = list(filter(lambda x: x.isdigit() and int(x) > 0, mystring.split()))
print(mystring)
print(positive_integers)

Hello 22 World 16 -2 8 -1 10 -8
['22', '16', '8', '10']

23. Using map() and filter() functions add 2000 to the values below 8000.

In [112]:
random_values = [2, 435, 30455, 4500, 17, 255, 20456]
result = list(map(lambda x: x+2000, filter(lambda x: x<8000, random_values)))

print(result)

[2002, 2435, 6500, 2017, 2255]

24. Write a Python program to count the even, odd numbers in a given array of integers
using Lambda.

In [113]:
count_even = len(list(filter(lambda x: x % 2 == 0, random_values)))
count_odd = len(list(filter(lambda x: x % 2 != 0, random_values)))

print("Even:", count_even)
print("Odd:", count_odd)

Even: 3
Odd: 4

25. Write a Python program to filter a given list whether the values in the list are having length of 6 using Lambda.

In [114]:
filtered_values = list(filter(lambda x: len(x) == 6, strings))
filtered_values

['Iriska', 'Poolia']

26.Write a Python program to find numbers divisible by nineteen or thirteen from a list of
numbers using Lambda.

In [115]:
some_list = [13, 19, 35, 23, 26, 39]

new_list = list(filter(lambda x: x % 13 == 0 or x % 19 == 0, some_list))
new_list

[13, 19, 26, 39]

27.Using zip() function and list() function, create a merged list of tuples from the two lists given.

In [116]:
merged_list = list(zip(list1, list2))
merged_list

[(1, 5), (2, 6), (3, 7)]

28.First create a range from 1 to 8. Then using zip, merge the given list and the range together to create a new list of tuples.

In [117]:
range_list = range(1, 9)
merged_list = list(zip(strings, range_list))

print(merged_list)

[('Laman', 1), ('Aliyeva', 2), ('Iriska', 3), ('Poolia', 4)]

29. Using zip and dict functions create a dictionary which has its key-value pairs comingfrom
lst1 and lst2.

In [118]:
lst1 = ['a', 'b', 'c']
lst2 = [1, 2, 3]

result_dict = dict(zip(lst1, lst2))
print(result_dict)

{'a': 1, 'b': 2, 'c': 3}

30. Using zip, list and sorted functions create a sorted list of tuples from lst1 and lst2.

In [119]:
lst1 = ['b', 'a', 'c']
lst2 = [2, 1, 3]

sorted_list = sorted(list(zip(lst1, lst2)))

print(sorted_list)

[('a', 1), ('b', 2), ('c', 3)]